.pages {
   /* background: red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.btnActive{
    background: red;
    color:black;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

.btnPasive{
    background: red;
    color:black;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    opacity: 0.5;
    cursor: pointer;
}

.btn:hover{
    color: white;
}