
  .link a[aria-current ='page'] {
    border: 1px solid var(--secondary-color);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
    color: var(--secondary-color)
  }
