.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  opacity: 0.3;
  margin: 3rem;
  position: absolute;
  width: 6rem;
  min-height: 50rem;
  top: 9rem;
  right: 5rem;
  z-index: -1;
}

.grid {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 3.5rem);
  margin-bottom: 3rem;
}

.title1 {
  opacity: 0.5;
  grid-column: 12/16;
  font-size: 1.3rem;
  text-align: center;
}

.title2 {
  opacity: 0.5;
  transform: rotate(-90deg);
  grid-column: 8/11;
  grid-row: 10;
  font-size: 1.3rem;
}

.title3 {
  opacity: 0.5;
  grid-column: 1/7;
  grid-row: 14/23;
  font-size: 1.3rem;
  text-align: center;
}

.title4 {
  opacity: 0.5;
  transform: rotate(-90deg);
  grid-column: 1/3;
  grid-row: 23;
  font-size: 1.3rem;
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5,
.photo6,
.photo7,
.photo8 {
  object-fit: none;
  overflow: hidden;
  transition: all 0.9s;
}

.grid img {
  height: auto;
  max-height: 22rem;
  max-width: 22rem;
}

.photo1 {
  grid-column: 1/10;
  grid-row: 1/6;
}

.photo2 {
  grid-column: 9/16;
  grid-row: 2/7;
  filter: brightness(0.5);
}

.photo3 {
  grid-column: 2/8;
  grid-row: 7/13;
}

.photo4 {
  grid-column: 10/16;
  grid-row: 8/13;
}

.photo5 {
  grid-column: 1/7;
  grid-row: 15/21;
  z-index: 10;
}

.photo6 {
  grid-column: 8/16;
  grid-row: 14/19;
  filter: brightness(0.5);
}

.photo7 {
  grid-column: 3/10;
  grid-row: 20/25;
}

.photo8 {
  grid-column: 11/16;
  grid-row: 20/25;
}
.photo1:hover,
.photo2:hover,
.photo3:hover,
.photo4:hover,
.photo5:hover,
.photo6:hover,
.photo7:hover,
.photo8:hover {
  overflow: visible;
  filter: brightness(1);
  transform: scale(1.1);
  transition: all 0.9s;
  z-index: 300;
}

.photo1:hover {
  transform-origin: top;
}

.photo2:hover,
.photo4:hover,
.photo6:hover,
.photo8:hover {
  transform-origin: right;
}

@media (max-width: 835px) {
  .grid {
    display: grid;
    grid-template-rows: repeat(24, 2rem);
  }
}

@media (max-width: 1025px) {
  .grid {
    display: grid;
    grid-template-rows: repeat(24, 2rem);
  }
  /* .photo1 img,
  .photo2 img,
  .photo3 img,
  .photo4 img,
  .photo5 img,
  .photo6 img,
  .photo7 img,
  .photo8 img {
   max-width: 18rem;
  } */
}
@media (max-width: 1290px) {
  .grid {
    display: grid;
    grid-template-rows: repeat(24, 2.5rem);
  }
  .photo1 img,
  .photo2 img,
  .photo3 img,
  .photo4 img,
  .photo5 img,
  .photo6 img,
  .photo7 img,
  .photo8 img {
    max-width: 22rem;
  }
}

@media (max-width: 550px) {
  .background {
    position: fixed;
    min-height: 30rem;
    top: 4rem;
    left: 0px;
    z-index: -1;
    width: auto;
  }

  .grid {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .photo1,
  .photo5 {
    margin-left: 2rem;
    width: 90%;
  }

  .photo2,
  .photo6 {
    margin-right: 2rem;
    width: 80%;
    filter: brightness(1)
  }

  .photo3,
  .photo7 {
    width: 100%;
    margin-left: 2rem;
  }
  .photo4 {
    width: 100%;
  }

  .title1,
  .title3 {
    margin: 0 0 0 5rem;
  }

  .title2 {
    margin: 0;
    transform: unset;
  }

  .title4 {
    transform: unset;
    margin: 0;
    margin-left: 8rem;
  }

  .photo1,
  .photo2,
  .photo3,
  .photo4,
  .photo5,
  .photo6,
  .photo7,
  .photo8 {
    pointer-events: none;
  }
}
