
.container-campaigns ul{
    list-style: none;
    padding: 0;
}
.container-campaigns li{
    font-family: var(--font-primary);
    color: rgba(44, 44, 44, 0.945);
    font-size: 13px;
    margin: 15px 0px;
    font-weight: 600;
}
.active{
    color: blue;
    background-color: blue;
}