.container-main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-campaigns{
    width: 60%;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: antiquewhite;
}