.container-main{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
.container-campaigns{
    width: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 40px;
}
.container-page{
    width: 100%;
}



/* Id Campaings */

.id-container-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.id-container-campaigns{
    width: 70%;
}
.id-container-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.id-title{
    /* position: relative; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
.container-campaigns h2{
    margin: 0;
    font-size: 10em;
    position: absolute;
    transform-origin: 100px;
    transform: rotate(-90deg);
}
.id-container-images h4{
    font-size: 30px;
    font-family: var(--font-primary);
    margin: 0px 0px 10px;
}
.id-container-images h1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px;
    /* display: none; */
}
.id-container-images h5{
    display: none;
    font-size: 15px;
    border-bottom: 0.2px solid;
}
.id-container-img{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.img{
    width: 100%;
    height: auto;
    border: solid 1px black;
}



@media(max-width: 1440px){
    .container-campaigns{
        width: 85%;
    }
}
@media(max-width: 1200px){
    .container-campaigns{
        width: 95%;
    }
}
@media(max-width: 1000px){
    .container-campaigns{
        grid-template-columns: 25% 75%;
    }
}
@media(max-width: 750px){
    .container-campaigns{
        grid-template-columns: 30% 70%;
    }
}
@media(max-width: 450px){
    .container-campaigns{
        grid-template-columns: 100%;
    }
    .id-container-images h5{
        display: block;
    }
    .id-container-images h4{
        font-size: 25px;
    }
    .id-container-images h1{
        display: block;
    }
}