@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

:root {
  --main-color: #5F5D5D; 
  --main-background: #F5F5F5;
  --footer-background: #595858;
  --font-primary: 'Trocchi', serif;
  --font-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
  margin: 2rem;
  color: var(--main-color);
  background: var(--main-background);
  font-family: var(--font-primary);
}


a {
  color: var(--main-color); 
  font-family: var(--font-primary);   
  text-decoration: none;
}

