.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px;
}

.label {
    font-size: smaller;
    letter-spacing: 0.1em;
}