.container {
    margin-top: 5rem;
    width: 1013px;
    height: 302px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    /* background-color: aqua;     */
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}