.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    justify-self: center;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px var(--main-color);
    width: 100%;
}

.input:focus {
    outline-style: none;
    font-family: var(--font-secondary);
    color: var(--main-color);

}

.inputMessage {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.5px var(--main-color);    
    /* background-color: var(--main-color); */
}

.inputMessage:focus {
    outline-style: none;
    font-family: var(--font-secondary);
    color: var(--main-color);
}

.message {
    
    display: flex;
}

.label {
    /* font-size: smaller; */
    padding-top: 0.3rem;
    letter-spacing: 0.1em;
    align-self: flex-start;
}

.fields {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
}

.button {
    padding: 0.5em 1.5em;
    font-size: smaller;
    letter-spacing: 0.1em;
    font-family: var(--font-primary);
    color: var(--main-color);
    /* display: inline; */
    background-color: transparent;
    border: solid .5px;
    border-bottom: none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.button:hover {
    cursor: pointer;
}

.button:disabled{
    opacity: 0.6;
}

.button:disabled:hover {
    cursor: default;
}

@media(max-width: 1050px){
    .container {
        width: 80%;
    }
}

@media(max-width: 750px){
    .container {
        width: 70%;
    }
}

@media(max-width: 450px){
    .container {
        width: 85%;
    }
}