.menuWrapper {
  display: none;
}
.menuWrapper button {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid var(--secondary-color);
  opacity: 0.5;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 1.5rem;
}

.menuTag {
  width: 25px;
  height: 2px;
  margin: 2px;
  background: var(--main-color);
  border: var(--main-color);
}

.closingTag {
  width: 25px;
  height: 25px;
  position: relative;
}

.closingTag:before,
.closingTag:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 12px;
  background: var(--main-color);
  border-radius: 0.8em;
}

.closingTag:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 1px;
}

.closingTag:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 1px;
}

@media (max-width: 700px) {
  .menuWrapper,
  .menuWrapperClose {
    display: initial;
  }
}
