.container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 95%;
  height: 9rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.linkLogo{
  width:30%;
  height: 10rem;
}

.navContainerClosed,
.navContainerOpen {
  width: 70%;
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.logo,
.openLogo {
  margin-bottom: 4rem;
  height: auto; 
}

.hiddenButton {
  border-bottom: 1px solid var(--secondary-color);
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-bottom: solid var(--secondary-color) 1px;
  border-top-right-radius: 0.5em;
}

.container button:active {
  border-bottom: solid var(--main-background) 5px;
}

@media (max-width: 1024px) {
  .navbar{
    width: 95%;
  }
  .container a {
    height: 1.5rem;
    font-size: 80%;
  }
  .navContainerClosed,
  .navContainerOpen {
    padding-top: 7rem;
  }
}

@media (max-width: 900px){
  .logo,
  .openLogo{
    width: 140px;
    left: 2rem;    
  }
}

@media (max-width: 700px) {
  .container{
    height: 5.5rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 7rem;
  }
  .linkLogo{    
    height: 6rem;
    display: flex;
    justify-content: center;;
    width: 60rem;
  }
  .logo {
    margin: initial;  
    height: 100%;
    position: initial;
    padding-left: 1rem;
  }

  .openLogo {
    position: fixed;
    margin: initial;
    margin-left: 50px;
    z-index: 209;
    width: 10rem;
  }

   .navContainerOpen {
    background: var(--main-background);
    border-radius: 1em;
    box-shadow: 3px 3px 10px #39393964, -5px -5px 10px #3939392a;
    width: 80%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 80;
  }
  .navContainerClosed {
    display: none;
  }
  .container a {
    height: 50px;
    border: none;
  }
  .container button:active {
    border: none;
  }
}


@media (max-width: 330px) {
  .navContainerOpen {
    width: 100%;
  }
  .openLogo{
    width: 8rem;
  }
}