.container-main{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
    /* background-color: aqua; */
}
.container-backgroud{
    width: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    border: solid black 1px;
}
#IMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.image-backgroud-one{
    animation: backgroudOne 18s infinite alternate ;
    position: absolute;
}
.image-backgroud-two{
    animation: backgroudTwo 18s infinite alternate;
    position: absolute;
}
.image-backgroud-three{
    animation: backgroudThree 18s infinite alternate;
    position: absolute;
}
.image-backgroud-four{
    animation: backgroudFour 18s infinite  alternate;
    position: absolute;
}
.image-backgroud-five{
    animation: backgroudFive 18s infinite  alternate;
    position: absolute;
}
@keyframes backgroudOne{
  0% { opacity: 1; }
  16.6% { opacity: 1; }
  33.3% { opacity: 1; }
  50% { opacity: 1; }
  66.6% { opacity: 1; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes backgroudTwo{
  0% { opacity: 0; }
  16.6% { opacity: 0; }
  33.3% { opacity: 1; }
  50% { opacity: 1; }
  66.6% { opacity: 1; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes backgroudThree{
  0% { opacity: 0; }
  16.6% { opacity: 0; }
  33.3% { opacity: 0; }
  50% { opacity: 1; }
  66.6% { opacity: 1; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes backgroudFour{
  0% { opacity: 0; }
  16.6% { opacity: 0; }
  33.3% { opacity: 0; }
  50% { opacity: 0; }
  66.6% { opacity: 1; }
  83.3% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes backgroudFive{
  0% { opacity: 0; }
  16.6% { opacity: 0; }
  33.3% { opacity: 0; }
  50% { opacity: 0; }
  66.6% { opacity: 0; }
  83.3% { opacity: 1; }
  100% { opacity: 1; }
}


@media(max-width: 1440px){
    .container-main{
        height: 46vh;
    }
}
@media(max-width: 1200px){
    .container-main{
        height: 42vh;
    }
}
@media(max-width: 900px){
    .container-main{
        height: 35vh;
    }
}
@media(max-width: 600px){
    .container-main{
        height: 32vh;
    }
}
@media(max-width: 450px){
    .container-main{
        height: 24vh;
    }
}